.props{
    background-color: #fff;
    padding-top: 130px;
    padding-bottom: 160px;
}
.props__title{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: #16151A;
    margin-bottom: 64px;
}

.prop{
    background-color: #f6f8f9;
    width: 556px;
    height: 136px;
    border-radius: 4px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    padding-left: 55px;

}
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.prop__text{
    font-style: normal;
    text-align: initial;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: #16151A;
}
.props__banner{
    background-color: #2E62D9;
    color: #fff;
    align-items: center;
    padding-left: 64px;
    padding: 20px 64px 20px;
    border-radius: 4px;
    margin-top: 50px;
    p{
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 46px;
        span{
            background-color: #2D2047;
            padding: 5px 3px;
        }
    }
}

@import 'media';