@media (max-width: 1280px) {
    .prop {
        width: 486px;
        padding-left: 30px;
    }
    .prop__text {
        font-size: 18px;
        line-height: 29px;
    }
    .list {
        justify-content: space-around;
    }
    .props__banner {
        padding: 4px 64px 4px;
        margin-top: 40px;
        margin-right: 20px;
        margin-left: 20px;
        p{
            font-size: 32px;
            line-height: 39px;
        }
    }
}
@media (max-width: 1145px) {
    .list {
        flex-direction: column;
        align-items: center;
    }
    .props {
        padding-top: 110px;
        padding-bottom: 120px;
    }
    .props__title {
        font-size: 32px;
        line-height: 39px;
        margin-bottom: 54px;
    }
}
@media (max-width: 780px) {
    .props__banner {
        p{
            font-size: 32px;
            line-height: 39px;
        }
    }
}
@media (max-width: 700px) {
    .props__title {
        font-size: 32px;
        line-height: 39px;
        margin-bottom: 54px;
    }
}
@media (max-width: 630px) {
    .props__title {
        font-size: 27px;
        line-height: 38px;
    }
}
@media (max-width: 600px) {
    .props {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .prop {
        width: 400px;
        padding-left: 30px;
    }
    .prop__text {
        font-size: 14px;
        line-height: 26px;
    }
    .props__title {
        font-size: 27px;
        line-height: 38px;
        margin-bottom: 54px;
    }
}
@media (max-width: 500px) {
    .prop {
        width: 296px;
        padding-left: 20px;
    }
    .prop__text {
        font-size: 14px;
        width: 143px;
        line-height: 26px;
    }
    .props__banner p {
        font-size: 24px;
        line-height: 30px;
    }
    
}
@media (max-width: 410px) {
    .props__banner p {
        font-size: 16px;
        line-height: 22px;
    }
    .props__banner {
        margin-right: 0px; 
        margin-left: 0px; 
    }
    
}