@media (max-width: 600px) {
  .menu-web{
      display: none;
  }
  ul > li.header__btn-registration {
    border: none;
    background-color: #f6f8f9;
    &:hover{
      background-color: #f6f8f9 !important;
    }
  }
  .burger-menu {
    display: block;
  }
  .logo-header {
    height: 100%;
  }
  img {
    width: 115px;
  }
  .header__inner {
    height: 60px;
  }
}
