@media (max-width: 1095px) {
    .navigation {
        display: none;
    }

}

@media (max-width: 500px) {



    /*скрываем стандартное меню и показываем бургер*/
    .header__inner>.bside {
        .burger {
            display: block;
        }

        .search__btn,
        .registration__btn {
            display: none;

        }
    }

    .header__inner {
        .bside {
            .logo {
                margin-right: 10px;
            }

            .navigation-burger {
                padding: 30px 20px 20px 24px;

                .logo {
                    margin-bottom: 80px;
                }

                .navigation {
                    display: block;

                    ul {
                        display: block;

                        li {
                            text-align: start;
                            margin-bottom: 20px;

                            a {
                                color: #6E737E;
                            }
                        }
                    }
                }
            }

            .buttons-burger {
                padding: 30px 20px 20px 24px;
                .search__btn{
                    margin-bottom: 15px;
                }
                
                .search__btn,
                .registration__btn {
                    margin-right: 0;
                    display: block;

                    button {
                        padding: 14px;
                        width: 100%;
                    }
                }
            }
        }
    }
}