@media (max-width: 900px) {
    .contacts{
        flex-direction: column;
    }
    .contact-column {
        margin-bottom: 30px;
    }
    
}
@media (max-width: 560px) {
    .footer{
        .container{
            padding: 0;
        }
    }
    .footer__inner {
        border-radius: 0;
        padding: 40px 15px;
    }
    .footer__title {
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 115%;
        letter-spacing: -0.01em;
        color: #FFFFFF;
        text-align: start;
        margin-bottom: 60px;
    }
}
@media (max-width: 420px) {
    .footer__title {
        font-size: 36px;
        margin-bottom: 40px;
    }
    .contacts {
        margin-bottom: 80px;
    }
    .footer {
        margin-bottom: 0px;
    }
    .footer__info {
        font-size: 16px;
    }
}