@media (max-width: 1120px) {
    .banner {
        display: none;
    }

    .bannerSmall95 {
        display: block;
        right: -58px;
        top: 27px;
    }

    .title span {
        font-size: 54px;
    }

    .subtitle span {
        font-size: 16px;
    }

    .information {
        max-width: 428px;
    }
}

@media (max-width: 1080px) {
    .bannerSmall95 {
        display: none;
    }

    .bannerSmall {
        right: -55px;
        top: 32px;
        display: block;
    }

    .introduction__wrapper {
        padding-top: 80px;
        padding-left: 80px;
    }
}

@media (max-width: 1000px) {
    .subtitle {
        max-width: 300px;
        width: 100%;
    }

    .banner {
        display: none;
    }

    .bannerSmall {
        top: 56px;

    }
}

@media (max-width: 910px) {

    .bannerSmall {
        display: none;
    }

    .bannerSmall8 {
        display: block;
        right: -50px;
        top: 109px;
    }
}

@media (max-width: 860px) {

    .bannerSmall8 {
        display: block;
        right: -49px;
        top: 109px;
    }
}

@media (max-width: 827px) {
    .bannerSmall8 {
        display: none;
    }

    .bannerSmall75 {
        position: absolute;
        display: block;
        right: -46px;
        top: 136px;
    }
}

@media (max-width: 770px) {
    .bannerSmall75 {
        display: none;
    }

    .bannerSmall65 {
        display: block;
        position: absolute;
        right: -40px;
        top: 189px;
    }
}

@media (max-width: 645px) {
    .bannerSmall75 {
        display: none;
    }

    .bannerSmall65 {
        display: block;
        position: absolute;
        right: -40px;
        top: 189px;
    }
}

@media (max-width: 620px) {
    .bannerSmall65 {
        display: none;
    }

    .bannerSmall5 {
        display: block;
        position: absolute;
        right: -31px;
        top: 232px;
    }

    .introduction__wrapper {
        padding-top: 40px;
        padding-left: 40px;
    }

    .title {
        span {
            font-size: 40px;
        }
    }

    .btn-search>button {
        .btn__name {
            font-size: 14px;
        }

        .circle>span {
            padding: 8px 8px;
            font-size: 18px;
            width: 35px;
            height: 35px;
        }
    }

    .introduction__wrapper {
        padding-right: 40px;
    }

    .subtitle>span {
        font-size: 18px;
    }
}

@media (max-width: 605px) {
    .bannerSmall5 {
        top: 232px;
    }
}

@media (max-width: 470px) {
    .bannerSmall5 {
        top: 222px;;
    }
    .introduction__wrapper{
        padding: 30px 15px 141px 15px;
    }
    .nopadding {
        padding: 0;
    }
    .introduction__wrapper{
        border-radius: 0;
    }
}
@media (max-width: 420px) {
    .bannerSmall5 {
        top: 212px;
        
    }
    .title {
        span {
            font-size: 36px;
        }
    }

}


@media (max-width: 393px) {
    .bannerSmall5 {
        top: 212px;
    }

}

@media (max-width: 385px) {
    .bannerSmall5 {
        display: none;
    }

    .bannerSmall45 {
        display: block;
        position: absolute;
        right: -28px;
        top: 239px;
    }
}

@media (max-width: 360px) {

    .bannerSmall45 {
        top: 238px;
    }
}
